* {
  padding: 0px;
  margin: 0px;

}

#outputDisplay {
  width: 98vw;
  display: inline-block;
  margin-left: 1vw;
  margin-right: 1vw;
  background: rgb(0, 0, 0);
  height: 83vh;
  color: rgb(51, 204, 51);
}

#inputCode {
  display: inline-block;
  width: 98vw;
  margin-left: 1vw;
  margin-right: 1vw;
  height: 10vh;
  
}

#acceptButton {
  display: inline-block;
  width: 23vw;
  margin-left: 38.5vw;
  margin-right: 38.5vw;
  height: 5vh;
  background: rgb(51, 204, 204);
}

#acceptButton:hover {
  display: inline-block;
  width: 23vw;
  margin-left: 38.5vw;
  margin-right: 38.5vw;
  height: 5vh;
  background: rgb(51, 204, 89);
}

#acceptButton:active {
  display: inline-block;
  width: 23vw;
  margin-left: 38.5vw;
  margin-right: 38.5vw;
  height: 5vh;
  background: rgb(204, 51, 51);
}
